table,th,td{
    border: 1px solid black ;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 50px;
}
th{
    height: 30px;
    text-align: left;
    vertical-align: top;
}

caption{
    caption-side: bottom;
    text-align: left;
    margin: 20px;
}
td{
    text-align: center;
    /*background-color: coral;*/
    padding: 15px;
}

tr:hover,th:hover,td:hover{
    background-color: blue;
}

tr:nth-child(even){
    background-color: yellow;
}